// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #3f4274;

// ----------------------------------------------------------------------------
// Widget-freeday-countdown styles
// ----------------------------------------------------------------------------
.widget-freeday-countdown {
  background-color: $background-color;

  h1 {
    font-size:+3em;
  }

  h2 {
    font-size:+4em;
    text-transform: none;
  }
}